body  {
  background: url("http://res.cloudinary.com/dnhwxgf8i/image/upload/c_scale,w_1200/v1520699845/cosmos_lgcleo.jpg");
}

.full-screen {
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  color:white;

}
.calculator {
  width: 400px;
  height: 150px;
  position: absolute;
  top: 35%;
  left:30%;
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 40px;
  letter-spacing: 10px;
  border-radius:8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#submit {
  background-color: 	#505980;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}
select{
  border-radius: 20px;
  width:100px;
}

#sign-result{
  display: block;
   padding: 1em 2em;
   outline: none;
   font-weight: 600;
   border: none;
   color: #fff;
   background-color: #111;
   border: 1px solid #1f74ac;
   border-radius: 0.3em;
   margin-top: 4em;
   cursor: pointer;
   display: flex;
  align-items: center;
  justify-content: center;
}
